<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>Splurty was built by K.C. Jeon who is a technical writer learning coding skills. By day she writes documentation for software built in the healthcare IT industry, but by night she writes stories about magical things happening to ordinary people.</p>

	<br />

	<p>She is learning how to code with Ruby on Rails through the Firehose Project.</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'kcjeon.png', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center"> K. C. Jeon</h2>
		<br />
		<p>
			K. C. Jeon graduated from the University of Massachusetts at Amherst with a degree in sociology focusing on social inequality and diversity. She also received a certificate in Professional Writing and Technical Communication.</p>
		</div>
		<br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
